<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.careers.repository.CuratorRepository">
    <insert id="save" parameterType="com.dev.careers.domain.Curator"
      useGeneratedKeys="true" keyProperty="id">
        INSERT INTO curators(id, name, password, email, salt)
        VALUES(#{id}, #{name}, #{password}, #{email}, #{salt})
    </insert>

    <select id="isExistEmail" parameterType="String" resultType="boolean">
        SELECT IF(COUNT(email), 0, 1) FROM curators WHERE email = #{email}
    </select>

    <select id="getCuratorInfo" parameterType="com.dev.careers.domain.Curator"
      resultType="com.dev.careers.domain.Curator">
        SELECT id, name, password, email, salt FROM curators WHERE email = #{email}
    </select>
</mapper>