<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.careers.repository.CuratorRepository">
    <insert id="save" parameterType="com.dev.careers.domain.Curator"
      useGeneratedKeys="true" keyProperty="id">
        INSERT INTO curators(id, name, password, email)
        VALUES(#{id}, #{name}, #{password}, #{email})
    </insert>

    <select id="isExistEmail" parameterType="String" resultType="Boolean">
        SELECT IF(COUNT(email), 0, 1) FROM curators WHERE email = #{email}
    </select>

    <select id="findByEmailPassword" parameterType="com.dev.careers.domain.Curator" resultType="Boolean">
        SELECT IF(COUNT(email), 1, 0) FROM curators WHERE email = #{email} AND password = #{password}
    </select>
</mapper>