<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.careers.mapper.VotingMapper">
  <resultMap id="VotingList" type="com.dev.careers.model.Voting">
    <result column="votingId" property="votingId"/>
    <result column="votingTitle" property="votingTitle"/>
    <result column="votingWriter" property="votingWriter"/>
    <result column="timestamp" property="timestamp"/>
  </resultMap>

  <resultMap id="Voting" type="com.dev.careers.model.Voting">
    <result column="votingId" property="votingId"/>
    <result column="votingTitle" property="votingTitle"/>
    <result column="votingWriter" property="votingWriter"/>
    <result column="timestamp" property="timestamp"/>
    <result column="votingExplanation" property="votingExplanation"/>
  </resultMap>

  <select id="getVotingList" resultType="VotingList">
    SELECT votingId, votingTitle, votingWriter, timestamp FROM voting;
  </select>

  <select id="getVoting" resultType="Voting">
    SELECT votingId, votingTitle, votingWriter, votingExplanation, timestamp
    FROM voting WHERE votingId = #{votingId};
  </select>

  <insert id="saveVoting" parameterType="com.dev.careers.model.Voting">
    INSERT INTO voting(votingId, votingTitle, votingWriter, votingExplanation)
    VALUES(#{votingId}, #{votingTitle}, #{votingWriter}, #{votingExplanation})
  </insert>

  <delete id="removeVoting" parameterType="int">
    DELETE FROM voting WHERE votingId = #{votingId}
  </delete>
</mapper>